In [1]:
import pandas as pd

df_drivers = pd.read_excel("Drivers.xlsx", sheet_name="Drivers")
df_customers = pd.read_excel("Customers.xlsx", sheet_name="customers")
df_rides = pd.read_excel("Bookings.xlsx", sheet_name="rides")

In [17]:
print("Drivers:", df_drivers.shape)
print("Customers:", df_customers.shape)
print("Rides:", df_rides.shape)

Drivers: (523, 6)
Customers: (2233, 9)
Rides: (21200, 17)

In [40]:
def clean_columns(df):
    df.columns = df.columns.str.strip().str.replace(" ", "_").str.lower()
    return df

df_customers = clean_columns(df_customers)
df_drivers = clean_columns(df_drivers)
df_rides = clean_columns(df_rides)

In [43]:
for col in ["pickup", "dropoff", "pickupdatetime"]:
    if col in df_rides.columns:
        df_rides[col] = pd.to_datetime(df_rides[col], errors="coerce")

# If pickup + time exist, create pickupdatetime
if "pickup" in df_rides.columns and "time" in df_rides.columns:
    df_rides["pickupdatetime"] = pd.to_datetime(df_rides["pickup"].astype(str) + " " + df_rides["time"].astype(str), errors="coerce")

# Dropoff datetime
if "dropoff" in df_rides.columns:
    df_rides["dropoffdatetime"] = pd.to_datetime(df_rides["dropoff"], errors="coerce")

In [45]:
print("Customers Data:")
print(df_customers.head(), "\n")

print("Drivers Data:")
print(df_drivers.head(), "\n")

print("Rides Data:")
print(df_rides.head(), "\n")

print("\n=== Info ===")
print(df_customers.info(), "\n")
print(df_drivers.info(), "\n")
print(df_rides.info(), "\n")

Customers Data:
  customerid   customername  customerrating  totalrides  \
0      cust1      Veer Gill             3.6           4
1      cust2  Adah Seshadri             1.6          14
2      cust3   Eshani Atwal             3.4           5
3      cust4     Vidur Gade             3.0           4
4      cust5    Rania Sathe             3.8          54

                                    customerfeedback location  \
0  Architecto voluptatibus at placeat dolores rec...  Versova
1  Officia exercitationem ab laudantium atque sol...    Malad
2                            Eaque officiis debitis.   Colaba
3                  Ullam natus aspernatur nisi nemo.    Thane
4                   Ex fugit quasi at totam aliquam.   Bandra

  frequentdropofflocation  age  gender
0                 Andheri   33    Male
1                 Versova   52    Male
2            South Mumbai   31    Male
3                  Bandra   63   Other
4                   Kurla   55  Female

Drivers Data:
  driverid       drivername  driverrating  totalrides vehicletype  \
0  driver1         Diya Dey           1.8          17         Car
1  driver2  Manjari Dhingra           1.3         292         Van
2  driver3    Ritvik Bansal           3.3         248         Car
3  driver4      Rasha Singh           2.3         159         Car
4  driver5     Shamik Krish           4.0         204         Van

   driverexperienceyears
0                      5
1                      1
2                      1
3                      6
4                      4

Rides Data:
  rideid pickuplocation dropofflocation  distance  ridetype     fare  \
0  ride1         Colaba        Borivali      7.29  UberPool  1209.19
1  ride2         Colaba            Sion      7.55     UberX   585.43
2  ride3          Thane           Thane     18.75  OlaMicro  1335.77
3  ride4        Andheri        Borivali      6.32     UberX   297.07
4  ride5        Versova       Kandivali     19.37  OlaMicro  1353.57

    driverid customerid  perkmrate      pickupdatetime
0   driver69   cust1436      35.45 2024-07-08 01:03:17
1  driver437   cust1253      24.69 2022-04-11 12:30:40
2   driver80    cust625      14.12 2022-11-22 05:02:07
3  driver393   cust1353      33.03 2024-05-13 15:08:31
4  driver485    cust858      16.72 2020-06-09 19:06:02


=== Info ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2233 entries, 0 to 2232
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customerid               2233 non-null   object
 1   customername             2233 non-null   object
 2   customerrating           2233 non-null   float64
 3   totalrides               2233 non-null   int64
 4   customerfeedback         2233 non-null   object
 5   location                 2233 non-null   object
 6   frequentdropofflocation  2233 non-null   object
 7   age                      2233 non-null   int64
 8   gender                   2233 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 157.1+ KB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 523 entries, 0 to 522
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   driverid               523 non-null    object
 1   drivername             523 non-null    object
 2   driverrating           523 non-null    float64
 3   totalrides             523 non-null    int64
 4   vehicletype            523 non-null    object
 5   driverexperienceyears  523 non-null    int64
dtypes: float64(1), int64(2), object(3)
memory usage: 24.6+ KB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21200 entries, 0 to 21199
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   rideid           21200 non-null  object
 1   pickuplocation   21200 non-null  object
 2   dropofflocation  21200 non-null  object
 3   distance         21200 non-null  float64
 4   ridetype         21200 non-null  object
 5   fare             21200 non-null  float64
 6   driverid         21200 non-null  object
 7   customerid       21200 non-null  object
 8   perkmrate        21200 non-null  float64
 9   pickupdatetime   21200 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(6)
memory usage: 1.6+ MB
None

In [28]:
df_rides.isnull().sum()

rideid             0
pickuplocation     0
dropofflocation    0
distance           0
ridetype           0
fare               0
driverid           0
customerid         0
perkmrate          0
pickupdatetime     0
dtype: int64

In [47]:
df_rides['pickupdatetime'] = pd.to_datetime(df_rides['pickupdatetime'])
df_rides['fare'] = df_rides['fare'].astype(float)
df_rides['distance'] = df_rides['distance'].astype(float)

In [59]:
df_drivers.to_csv("cleaned_drivers.csv", index=False)
df_customers.to_csv("cleaned_customers.csv", index=False)
df_rides.to_csv("cleaned_rides.csv", index=False)